<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h3>Friends:</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Friend Since</th>
                <th>Year</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{row['name']}}</td>
                <td>{{row['age']}}</td>
                <td>{{row['friend_since']}}</td>
                <td>{{row['year']}}</td>
            </tr>
            {% endfor %}
        </table>
        <h3>Add a Friend:</h3>
        <form action="/submit" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name">
            <br>
            <label for="age">Age:</label>
            <input type="text" name="age">
            <input type="submit" value="Submit">

        </form>
    </div>
</body>
</html>