<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
</head>
<body>
    <p> I'm a software developer familiar with an understanding of many programming languages
        and concepts. I started a computer science program in a four year university, but
        eventually learned that a coding bootcamp was more suitable to my interests.
    </p>
</body>
</html>