<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'message' %}
        <div class="alert alert-success" role="alert">
                    {% elif category == 'error' %}
        <div class="alert alert-danger" role="alert">
                    {% endif %}
            <p>{{ message }}</p>
        </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="/submit" method="POST" class="form-signin">
            <input type="text" name="email" placeholder="Email"
                value="{{ session['email'] }}" class="form-control">
            <input type="text" name="first_name" placeholder="First Name"
                value="{{ session['first_name'] }}" class="form-control">
            <input type="text" name="last_name" placeholder="Last Name"
                value="{{ session['last_name'] }}" class="form-control">
            <input type="text" name="birthday" placeholder="Date of Birth (MM/DD/YYYY)"
                value="{{ session['birthday'] }}" class="form-control">
            <input type="password" name="password" placeholder="Password" class="form-control">
            <input type="password" name="confirm_password" placeholder="Confirm Password"
                class="form-control">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
    </div>
</body>
</html>