body {
    background-color: #eeeeee !important;
}
.form-control {
    max-width: 330px;
}
.mt-15px {
    margin-top: 15px;
}
.page {
    background-color: white;
    border: 1px solid #cccccc;
    padding: 15px;
}