body {
    background-color: #eeeeee !important;
}
.alert {
    margin: 15px;
}
.alert p {
    margin: 0;
}
form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-control:not(:first-child) {
    margin-top: 3px;
}
.btn {
    margin-top: 10px;
}